body {
    background-color: #1f2937;
    color:rgb(239, 239, 243);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;
}

.modal {
    display: flex;
    flex-direction: column;
}